<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fuhnatik.fuhnatik">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppFuhnatik"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="fuhnatik"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotLoggedInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JoinActivity"
            android:label="Let&apos;s Play!"
            android:parentActivityName=".NotLoggedInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuhnatik.fuhnatik.NotLoggedInActivity" />
        </activity>
        <activity
            android:name=".HowToPlayActivity"
            android:label="Let&apos;s Learn, Shall We?"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuhnatik.fuhnatik.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".NotLoggedInActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".FantasyReporterActivity"
            android:label="Fantasy Reporter"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuhnatik.fuhnatik.MainActivity" />
        </activity>
        <activity
            android:name=".FantasyReporterAddActivity"
            android:label="Add to Fantasy Reporter"
            android:parentActivityName=".FantasyReporterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuhnatik.fuhnatik.FantasyReporterActivity" />
        </activity>
        <activity
            android:name=".FantasyReporterReadActivity"
            android:label="Fantasy Reporter"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuhnatik.fuhnatik.FantasyReporterActivity" />
        </activity>
        <activity
            android:name=".ProfileEditActivity"
            android:label="Edit Profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuhnatik.fuhnatik.MainActivity" />
        </activity>
        <activity
            android:name=".FriendsActivity"
            android:label="Friends"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fuhnatik.fuhnatik.MainActivity" />
        </activity>
        <activity android:name=".TrophyRoomActivity"
            android:label="Trophy Room"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"></activity>
    </application>

</manifest>